
<div class="" ng-controller="saveCtrl" ng-init="disable=false;saver='save'">

<center>


<input type="text" name="subject" value="" class="form-control" placeholder="Your subject" id="subject" ng-model="subject" ng-disabled="disable">

<textarea class="form-control" placeholder="Your content here ..." id="content" rows="20" ng-model="content" ng-disabled="disable"></textarea>
  <input type="button" name="save" id="save" class="btn btn-lg btn-success btn-block" value="{{ saver }}" ng-click="save()">
</center>
</div>
